
<p style="color: green"><%= notice %></p>

<% content_for :title, "Workspaces" %>

<h1>Workspaces</h1>

<%= link_to "New workspace", new_workspace_path %>
<div id="workspaces">
  <% @workspaces.each do |workspace| %>
   
    <p>
      <%= link_to workspace.subjects, workspace_path(workspace) %>
    </p>
  <% end %>
</div>
